/* Main pages background image */
.login-page,
.register-page,
.main-page
    {
    background-image: url("../images/main_page.jpg") ;
    height: 120vh;
    background-size: cover;
    }

/* Contact page background image */
.reservation-page,
.destinations-page
    {
    background-image: url("../images/destinations_page.jpg") ;
    height: 120vh;
    background-size: cover;
    }


/* Destinations page background image */
.contact-page
    {
    background-image: url("../images/contact_page.jpg") ;
    height: 120vh;
    background-size: cover;
    }