body
  {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow:auto;
  }

code
  {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }

/*--------------------------MainPage.js------------------------*/
.main-app
  {
  background-color: aquamarine;
  width: max-content;
  height: 100%;
  }

.intro-text
  {
  color:  #303121;
  font-size: 30px;
  font-weight: bold;
  padding-left: 20px;
  }

.copyright
  {
  position: fixed;
  bottom: 40px;
  left: 20px;
  transform: translate(0, 100%);
  }


/*----------------------DestinationsPage.js---------------------*/
.dates-container
  {
  display: flex;
  justify-content: center;
  padding: 40px;
  }

.date-container
  {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.destinations-container-container-big
  {
  overflow: auto;
  }

.destinations-container
  {
  display: grid;
  /*grid-template-columns: repeat( 4, auto );*/
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0;
  overflow: scroll;
  max-height: 510px;
  overflow-x: hidden;
  }

.destination-item
  {
  background-color: rgba(0, 0, 0, 0.55);
  margin: 20px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0 0 2px 0 #000000;
  }

.destination-item-pic
  {
  width: 100%;
  height: auto;
  transform: scale( 0.9 );
  padding-top: 4px;

  }

.destination-item-name
  {
  color: #ffffff;
  }

.destination-item-loc
  {
  color: #ffffff;
  }

/*-------------------------ContactPage.js-----------------------*/
.contact-container
  {
  background-color: rgba(0, 0, 0, 0.55);
  width: 30%;
  height: 33%;
  position: absolute;
  border-radius: 2%;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  align-items: center;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
  display: block;
  font-size: 20px;
  text-align: center;
  }

/*-------------------------Register_Login-----------------------*/
.form-text-input
  {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 30px;
  color: white;
  }

input[ type = "form-text" ]
  {
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 2%;
  height: 40px;
  padding: 0 6px;
  background-color: rgba(0, 0, 0, 0.45);
  color: white;
  }

input[ type = "password" ]
  {
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 2%;
  height: 40px;
  padding: 0 6px;
  background-color: rgba(0, 0, 0, 0.45);
  color: white;
  }

input[type = "form-text" ]:focus
  {
  border: 2px solid #555;
  height: 40px;
  padding: 0 6px;
  outline: none;
  color: white;
  }

input[type = "password" ]:focus
  {
  border: 2px solid #555;
  height: 40px;
  padding: 0px 6px;
  outline: none;
  }

input[type = "submit" ]
  {
  font-size: 14px;
  border: 0px;
  border-radius: 2%;
  width: 30%;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.55);
  padding: 9px 22px;
  margin-top: 9px;
  }

input[type = "submit" ]:hover
  {
  background: rgba(0, 0, 0, 0.65);
  }

.form-centered-label
  {
  text-align: center;
  font-size: 17px;
  margin-bottom: 10px;
  }

button[ type = "form-navigate" ]
  {
  font-size: 14px;
  border: 0;
  border-radius: 2%;
  width: 80%;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.55);
  padding: 9px;
  margin-top: 9px;
  }

button[ type = "form-navigate" ]:hover
  {
  background: rgba(0, 0, 0, 0.65);
  }

.form-button-container
  {
  display: flex;
  justify-content: center;
  }

.form-style
  {
  background-color: rgba(0, 0, 0, 0);
  padding: 2rem;
  padding-top: 1px;
  border-radius: 2%;
  }

.form-container-login
  {
  background-color: rgba(0, 0, 0, 0.55);
  width: 25%;
  height: 52%;
  position: absolute;
  border-radius: 2%;
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
  color:white;
  align-items: center;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
  display: block;
  font-size: 20px;
  text-align: center;
  }

.form-container-edit-dest
{
  background-color: rgba(0, 0, 0, 0.55);
  color: white;
  padding-top: 10px;
  text-align: center;
  margin-top: 1%;
  margin-left: 35%;
  margin-right: 35%;

}

.form-container-register
  {
  background-color: rgba(0, 0, 0, 0.55);
  width: 25%;
  height: 64%;
  position: absolute;
  border-radius: 2%;
  top: 43%;
  left: 20%;
  transform: translate(-50%, -50%);
  color:white;
  align-items: center;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
  display: block;
  font-size: 20px;
  text-align: center;
  }

.form-err-msg
  {
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  padding: 3%;
  }

button[ type = "create-dest" ]
  {
  font-size: 14px;
  border: 0;
  border-radius: 10%;
  /*width: 80%;*/
  margin-top: 25px;
  margin-left: 20px;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.55);
  padding: 9px;
  }

button[ type = "crud" ]
  {
  color: white;
  border: 1px solid gray;
  border-radius: 10%;
  background: rgba(255, 255, 255, 0.2);
  margin: 10px;
  }

button[ type = "crud" ]:hover,
button[ type = "create-dest" ]:hover
  {
  background: rgba(0, 0, 0, 0.65);
  }

.crud-bttn-ctnr
  {

  }